<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.miliky.sim_card_info">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</manifest>
